src/BusinessStructure/Apps/WPF/BusinessStructure.WPF/Connected Services/AService/AuthentificationManagement2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BS.AuthenticationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BS.AuthenticationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="RequestResultOfUserResultUserErrorjphcqKqy">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RequestResultOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/BS.AuthenticationService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserResult" Namespace="http://schemas.datacontract.org/2004/07/BS.AuthenticationService" />
          <GenericParameter Name="UserError" Namespace="http://schemas.datacontract.org/2004/07/BS.AuthenticationService" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:UserResult" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:UserError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestResultOfUserResultUserErrorjphcqKqy" nillable="true" type="tns:RequestResultOfUserResultUserErrorjphcqKqy" />
  <xs:complexType name="UserResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserResult" nillable="true" type="tns:UserResult" />
  <xs:complexType name="UserError">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserErrorEnum" type="tns:UserErrorEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserError" nillable="true" type="tns:UserError" />
  <xs:simpleType name="UserErrorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="UserLocked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserErrorEnum" nillable="true" type="tns:UserErrorEnum" />
</xs:schema>